

.App {
  text-align: center;
  font-family: "Geneva";
}

/*////////// color modes ////////////*/

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.dark {
  background-color: #090808;
  color: white;
}

.dark .switch {
  background-color: #090808;
  color: white;
} 

.light .switch {
  background-color: white;
}

.light body {
  background-color: white;
  color:#090808;
}

 .light Footer {
  background-color: white;
  color:#090808;
}

.dark Footer {
  background-color: #090808;
}

 .dark  {
  background-color: #090808;
}

/*  ////////////////////////////////////////////////////// */

body {
  background-color: #090808;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto ;
  /* font-family: "Geneva"; */
  font-family: "Antonio", sans-serif;
}


a {
  text-decoration: none;
  
}

a:visited {
  color:darkseagreen
}

a:hover {
  color:darkseagreen
}

h4 {
  text-align: center;
  padding-top: 0%;
  font-size: small;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
}


header {
  display: flex;
  align-items: center;
  padding: 2em;
  justify-content: center;
  color: white;
  font-family: "Geneva";
}
 li a{
   display: flex;
   padding: 1em;
   color: white;
 }

 .sketch1 {
   display: flex;
   justify-content: center;
   align-content: center;
   /* background-color: ; */
 }

 footer {
   display: flex;
   text-align: center;
   /* align-items: center; */
  /* margin-top: auto; */
  position: absolute;
  justify-content: center;
  bottom: 0;
  width: 100%;
  }

  h2 {
    text-align: center;
  }

  #homepage {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 50%;
  }