.App {
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color:darkseagreen
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}


header {
  display: flex;
  align-items: center;
  padding: 2em;
  justify-content: center;
}
 li a{
   display: flex;
   padding: 1em;
 }

 .sketch1 {
   display: flex;
   justify-content: center;
   align-content: center;
   background-color: ;
 }
