

.App {
  text-align: center;
  font-family: "Geneva";
}

body {
  background-color: #090808;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto ;
  /* font-family: "Geneva"; */
  font-family: "Antonio", sans-serif;
}
a {
  text-decoration: none;
  
}

a:visited {
  color: white;
}

a:hover {
  color:darkseagreen
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}


header {
  display: flex;
  align-items: center;
  padding: 2em;
  justify-content: center;
  color: white;
  font-family: "Geneva";
}
 li a{
   display: flex;
   padding: 1em;
   color: white;
 }

 .sketch1 {
   display: flex;
   justify-content: center;
   align-content: center;
   /* background-color: ; */
 }

 footer {
   display: flex;
   text-align: center;
   /* align-items: center; */
  /* margin-top: auto; */
  position: absolute;
  justify-content: center;
  bottom: 0;
  width: 100%;
  }

  h2 {
    text-align: center;
  }

  /* @media screen {
    
  } */